{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
<p>
  A Little Playlist Maker - Version 1
  Uses JSon to Input tables of information with your favourite songs and authors.
</p>
  <p>
    <img src="http://www.metalinjection.net/wp-content/uploads/2014/09/Metal-Classical.jpg" alt="Classical??">
  </p>
  <p>
    Contact us on <a href="https://www.facebook.com/"> Facebook</a>, <a href="https://twitter.com/?lang=en"> Twitter</a>
  </p>
</section>