{{> menu}}

<section class="ui center aligned middle aligned segment">
<h1 class="ui header">
  Welcome to Playlist Maker 3000!
</h1>
<p>
  A small app to let you compose playlists of some of you favourite classical works.
</p>
</section>